:root {
  /* 心爱粉 */
  --pink: #f06e8e;

  /* 智慧蓝 */
  --blue: #4581e1;

  /* 神秘紫 */
  --purple: #b044b0;

  /* 自然绿 */
  --green: #46a12f;

  /* 活力黄 */
  --yellow: #f98d00;

  /* 神秘蓝 */
  --cyan: #199bb6;

  /* 活力红 */
  --red: #dd1818;

  /* 自定义 */
  --custom: ;

}