:root {
  /* Primary */
  --md-sys-color-primary: #006a6a;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-primary-container: #6ff7f6;
  --md-sys-color-on-primary-container: #002020;

  /* Secondary */
  --md-sys-color-secondary: #4a6363;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-secondary-container: #cce8e7;
  --md-sys-color-on-secondary-container: #051f1f;

  /* Tertiary */
  --md-sys-color-tertiary: #4b607c;
  --md-sys-color-on-tertiary: #fff;
  --md-sys-color-tertiary-container: #d3e4ff;
  --md-sys-color-on-tertiary-container: #041c35;

  /* Error */
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #fff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;

  /* Background & Surface */
  --md-sys-color-background: #fafdfc;
  --md-sys-color-on-background: #191c1c;
  --md-sys-color-surface: #fafdfc;
  --md-sys-color-on-surface: #191c1c;
  
  /* Elevation */
  --md-sys-elevation-level-1: 0px 1px 2px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
  --md-sys-elevation-level-2: 0px 1px 2px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Primary */
    --md-sys-color-primary: #4cdada;
    --md-sys-color-on-primary: #003737;
    --md-sys-color-primary-container: #004f4f;
    --md-sys-color-on-primary-container: #6ff7f6;

    /* Secondary */
    --md-sys-color-secondary: #b0cccc;
    --md-sys-color-on-secondary: #1b3434;
    --md-sys-color-secondary-container: #324b4b;
    --md-sys-color-on-secondary-container: #cce8e7;

    /* Background & Surface */
    --md-sys-color-background: #191c1c;
    --md-sys-color-on-background: #e0e3e3;
    --md-sys-color-surface: #191c1c;
    --md-sys-color-on-surface: #e0e3e3;
  }
}
